{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="mb-3 text-center fw-light fs-3 text-nowrap">Form Login</div>
    <div class="login bg-body-secondary rounded border p-4 shadow-sm">
        <form method="POST" action="">
            {% csrf_token %} 
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="loginUsername" name="username" autofocus placeholder>
                <label for="loginUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="loginPassword" name="password" placeholder>
                <label for="loginPassword">Password</label>
            </div>
            <div class="d-grid gap-2 mx-auto mt-2 mb-3">
                <button type="submit" class="login_btn btn btn-block btn-primary bg-gradient">Sign in</button>
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        <div class="text-center text-body-secondary text-nowrap">Don't have an account? <a href="{% url 'authentication:register' %}" class="link-offset-2 link-underline link-underline-opacity-0">Let's make one</a></div>
    </div>
</div>
{% endblock content %}