{% extends 'base.html' %}

{% block content %}
<html>
    <body>
        <h1>Daftar Favorit</h1>
        <hr>

        <table>
            <tr>
                <th>Judul</th>
                <th>Waktu Ditambahkan</th>
                <th>Aksi</th>
            </tr>
        
            {% for show in favorite_shows %}
                <tr>
                    <td>{{show.0}}</td>
                    <td>{{show.2}}</td>
                    <td>
                        <button>
                            Hapus
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>

{% endblock content %}